Repository hmcts/div-case-data-formatter, pull requests merged in 2018-10, with the labels that each got.

#9 enable aks on build pipeline
  Dockerfile
  Jenkinsfile_CNP
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
Labels: ip:10.97.16.177, ip:10.97.16.4, ip:10.97.16.44, ns:div, ns:div-cfs-pr-9, sn:div-cfs-pr-9

#21 [PREVIEW] DIV-3335 Fix Nullpointer error on empty respondentHomeAddress
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/AddressesCaseToCCDMapperUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/empty-respondent-home-addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/respondent-home-addresses-empty.json
Labels: ns:div-cfs-pr-21

#23 use host routing for AKS ingress
  src/kubernetes/deployment.template.yaml
Labels: ns:div-cfs-pr-23

#26 DIV-3321 - added issueDate fields to DivorceSession
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/CCDToDivorceFormatTest.java
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
Labels: ns:div-cfs-pr-26

#25 Use string for addressConfirmed and postcodeError values
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/Address.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
Labels: ns:div-cfs-pr-25

#27 [PREVIEW] Div 3369 submit dn
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnCaseMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-27

#31 Map Adultery Postcode
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
Labels: ns:div-cfs-pr-31

#32 Allow derived fields mapping to be nullable
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/AdulteryStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/DesertionStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationFiveYearsStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationTwoYearsStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/util/DateUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/AdulteryStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/DesertionStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationFiveYearsStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationTwoYearsStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/util/DateUtilUTest.java
Labels: ns:div-cfs-pr-32

#37 Fix only one reason saved for Reason for Divorce
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
Labels: ns:div-cfs-pr-37

#35 map due date
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
Labels: ns:div-cfs-pr-35

#39 add respondent consent given to case
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
Labels: ns:div-cfs-pr-39

#41 Div 3493 case created date in session
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/OrderSummary.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/DesertionStrategyUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
Labels: ns:div-cfs-pr-41
