Repository hmcts/div-case-data-formatter, pull requests merged in 2018-12, with the labels that each got.

#53 Add notGiven to Gender enum
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/Gender.java
Labels: ns:div-cfs-pr-53

#54 Agree decree nisi
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
Labels: ns:div-cfs-pr-54

#58 Reverting integration tests reference to point to localhost
  dependency-check-suppressions.xml
  src/integrationTest/resources/application.properties
Labels: ns:div-cfs-pr-58
