Repository hmcts/div-case-data-formatter, pull requests merged in 2018-11, with the labels that each got.

#40 changes to mapping adultery date
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
Labels: ns:div-cfs-pr-40

#43 additional Separation Date
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/SeparationDateService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/SeparationDateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/SeparationDateServiceImplUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
Labels: ns:div-cfs-pr-43

#46 costsDiffcostsDifferentDetails added from DN data
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-46

#47 enable mutation tests nightly
  Jenkinsfile_nightly
  README.md
  build.gradle
Labels: ns:div-cfs-pr-47

#50 Correcting typo
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-50

#52 courts format to Map<String, Map<String, Object>>
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
Labels: ns:div-cfs-pr-52
