Repository hmcts/div-case-data-formatter, pull requests merged in 2019-04, with the labels that each got.

#120 Disable prod deployments
  Jenkinsfile_CNP
Labels: ns:div-cfs-pr-120

#115 DIV-4446 - fixed incorrect mappings for ReceivedAOSfromResp and Date
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToAosCaseDataTest.java
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
Labels: ns:div-cfs-pr-115

#122 Revert "Disable prod deployments"
  Jenkinsfile_CNP
Labels: ns:div-cfs-pr-122

#121 DIV-3956 - reduced logging noise
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/config/HttpConnectionConfiguration.java
  src/test/resources/logback-test.xml
Labels: ns:div-cfs-pr-121

#125 Force upgrade of spring-security-crypto
  build.gradle
Labels: ns:div-cfs-pr-125

#124 Set ctsc siteid
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-124

#87 DIV-3771 - Added Helm chart config
  Jenkinsfile_CNP
  build.gradle
  charts/div-cfs/Chart.yaml
  charts/div-cfs/requirements.yaml
  charts/div-cfs/values.aat.template.yaml
  charts/div-cfs/values.preview.template.yaml
  charts/div-cfs/values.yaml
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
  src/main/resources/application.yml
Labels: ns:div-cfs-pr-87

#126 DIV-4117 Map docs info to download
  .gitignore
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/UploadedFile.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionCCDFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDivorceFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentUrlRewrite.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/UploadedFileTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentCollectionDivorceFormatMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DocumentUrlRewriteUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addressabroadcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addressnullcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addressnullderivednotnullcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/amend-petition-case.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/hownamechanged.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/jurisdiction612.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/jurisdictionall.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/marriagedatenullcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasondesertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonunreasonablebehaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/samesex.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/model/divorce/UploadedFile.json
Labels: ns:div-cfs-pr-126

#123 DIV-4672 Ensure mapping of D8 Case Ref happens from divorce session to CCD for amend
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/amend-petition-ccd-submitted.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/amend-petition-session-submit.json
Labels: ns:div-cfs-pr-123

#129 Add Respondent Solicitor Email and Phone contact fields
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
Labels: ns:div-cfs-pr-129
