Repository hmcts/div-case-data-formatter, pull requests merged in 2019-03, with the labels that each got.

#109 DIV-4116 increase right margin length
  checkstyle.xml
Labels: ns:div-cfs-pr-109

#112 No map co-respondent cost if not available
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/CoRespondentAnswersToCCDMapperTest.java
  src/test/resources/fixtures/model/ccd/co-respondent/co-respondent-answers-no-cost.json
  src/test/resources/fixtures/model/divorce/co-respondent/co-respondent-answers-no-cost.json
Labels: ns:div-cfs-pr-112

#111 Added root controller and test
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/RootController.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/RootControllerTest.java
Labels: ns:div-cfs-pr-111

#113 DIV-4447 DIV-4446 Added receivedAOS field
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/corespondent/AOS.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/model/ccd/co-respondent/co-respondent-answers.json
  src/test/resources/fixtures/model/divorce/co-respondent/co-respondent-answers.json
Labels: ns:div-cfs-pr-113

#108 Setup SAAT and SIDAM
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/state.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ResourceLoader.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/RegisterUserRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/UserGroup.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/kubernetes/config.aat.yaml
Labels: ns:div-cfs-pr-108

#116 DIV-4531: Adding mapping for previousIssueDate field
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/amend-petition-case.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/amend-petition-ccd-submitted.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/amend-petition-session-submit.json
Labels: ns:div-cfs-pr-116

#117 Supress dependency
  dependency-check-suppressions.xml
Labels: ns:div-cfs-pr-117
