Repository hmcts/div-case-data-formatter, pull requests merged in 2019-07, with the labels that each got.

#160 Convert all ServiceCentre Court Addresses from East Midlands to Digit…
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/court-hearing-details.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/decree-nisi-outcome.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-160

#161 Add serviceCentreName back in
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/court-hearing-details.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/decree-nisi-outcome.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-161

#162 Changed all contactdivorce emails to divorcecase
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/court-hearing-details.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/decree-nisi-outcome.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-162

#164 Map DivorceSession Decree Absolute to CCD Fields
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToDecreeAbsoluteCaseDataTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/da.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/da.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DaCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDaCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/GetDecreeAbsoluteCaseDataITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DecreeAbsoluteToCCDMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/da.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/da.json
Labels: ns:div-cfs-pr-164

#165 Don't extend DN with DA
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
Labels: ns:div-cfs-pr-165

#166 DIV-5062: Adding new fields in conversion from CCD to Divorce.
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/TransformToDivorceFormatITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DecreeAbsoluteMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DecreeAbsoluteToCCDMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/decree-absolute.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/decree-absolute.json
Labels: ns:div-cfs-pr-166

#167 Update jackson and tomcat to fix CVEs
  build.gradle
Labels: ns:div-cfs-pr-167

#169 DIV-5347: Updated dependencycheck version and removed unnecessary sup…
  build.gradle
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RemoveAllPetitionDocumentsTest.java
Labels: ns:div-cfs-pr-169
