Repository hmcts/div-case-data-formatter, pull requests merged in 2019-06, with the labels that each got.

#145 Map DAEligibleFromDate
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/test/resources/fixtures/model/ccd/CoreCaseData.json
  src/test/resources/fixtures/model/ccd/InputCoreCaseDataMap.json
Labels: ns:div-cfs-pr-145

#147 Set instance size to I3
  infrastructure/main.tf
Labels: ns:div-cfs-pr-147

#148 Pass in instance size via variables
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:div-cfs-pr-148

#144 DIV-4484 upgrade gradle version to 5.x
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
Labels: ns:div-cfs-pr-144

#149 Change Add Document endpoint to use a Map instead of the CoreCaseData…
  src/integrationTest/resources/fixtures/model/ccd/addDocumentsInput.json
  src/integrationTest/resources/fixtures/model/ccd/addDocumentsOutput.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/documentupdate/DocumentUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/AddDocumentsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/AddDocumentsSolicitorITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/resources/fixtures/model/ccd/addDocumentsInput.json
  src/test/resources/fixtures/model/ccd/addDocumentsOutput.json
Labels: ns:div-cfs-pr-149

#150 Map Decree Nisi Outcome fields to Divorce Session
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DecreeNisiOutcomeMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/decree-nisi-outcome.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/decree-nisi-outcome.json
Labels: ns:div-cfs-pr-150

#151 DIV-5057: OWASP upgrade
  build.gradle
  checkstyle.xml
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/CaseFormatterServiceApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/AddDocumentsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/WebServiceHealthCheckUTest.java
Labels: ns:div-cfs-pr-151

#153 Adding new desertion fields for DN
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-153

#155 DIV-4977: add endpoint /remove-all-petition-documents
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RemoveAllPetitionDocumentsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RestUtil.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/model/ccd/removeAllPetitionDocumentsInput.json
  src/integrationTest/resources/fixtures/model/ccd/removeAllPetitionDocumentsOutput.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
Labels: ns:div-cfs-pr-155

#154 DIV-3264: Update readme
  README.md
Labels: ns:div-cfs-pr-154
