Repository hmcts/div-case-data-formatter, pull requests merged in 2019-05, with the labels that each got.

#114 Allow sending of null values in response for DN case data
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnCaseMapperUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
Labels: ns:div-cfs-pr-114

#130 DIV-4781 - mapping for respondent's solicitor fields
  .gitignore
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/resources/example-application-local.properties
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/GetAosCaseDataITest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
Labels: ns:div-cfs-pr-130

#128 Point to SIDAM on all envs
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
Labels: ns:div-cfs-pr-128

#132 DIV-4860 - update the divorcecase contact email to contactdivorce@...
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-132

#135 DIV-3797: Removing Travis CI from our GitHub checks
  .travis.yml
Labels: ns:div-cfs-pr-135

#133 Changed order of documents, now newest document gets added to the las…
  src/integrationTest/resources/fixtures/model/ccd/addDocumentsOutput.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/AddDocumentsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/resources/fixtures/model/ccd/addDocumentsOutput.json
  src/test/resources/fixtures/model/ccd/solicitorCaseDocumentsOutput.json
Labels: ns:div-cfs-pr-133

#136 Updated jacksonDatabind library
  build.gradle
Labels: ns:div-cfs-pr-136

#137 DIV-4929 Apply fix for document mapping and checking if date is empty string
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDivorceFormatMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentCollectionDivorceFormatMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentsMappingUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/document-dates-empty.json
Labels: ns:div-cfs-pr-137

#138 Override Spring's management endpoint cache to 30 seconds in AAT/Preview
  charts/div-cfs/values.aat.template.yaml
  charts/div-cfs/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:div-cfs-pr-138

#140 Fixed invalid tf attribute - value -> default
  infrastructure/variables.tf
Labels: ns:div-cfs-pr-140

#134 DIV-4835 Fix PMD/checkstyle warnings
  build.gradle
  ruleset.xml
Labels: ns:div-cfs-pr-134

#141 Added CCD fields that are being removed on Add Document Mapper
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/HearingDateTime.java
Labels: ns:div-cfs-pr-141

#142 Added unit test for Json parsing CoreCaseData from Map
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseDataJsonTest.java
  src/test/resources/fixtures/model/ccd/CoreCaseData.json
  src/test/resources/fixtures/model/ccd/InputCoreCaseDataMap.json
Labels: ns:div-cfs-pr-142

#143 Add reverse mapping for court name and hearing details from CCD to Di…
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/CourtHearingDetailsMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/court-hearing-details.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/court-hearing-details.json
Labels: ns:div-cfs-pr-143
