Repository hmcts/div-case-data-formatter, pull requests merged in 2019-02, with the labels that each got.

#88 Add respondent confidential back in
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/empty-respondent-home-addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nulladdressfields.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nullfieldscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation-LessThan6MonthLivedTogether.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/payment.json
Labels: ns:div-cfs-pr-88

#76 DIV-3240 capture second hand adultery information
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonadultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nullfieldscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
Labels: ns:div-cfs-pr-76

#90 Replace exisitngPayment properties that are not null only
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatErrorHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/payment/Payment.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/ExistingPaymentReferenceStrategy.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/TransformToCCDFormatITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/ExistingPaymentReferenceStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/NoExistingPaymentReferenceStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/NoExistingPaymentStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/PaymentContextUTest.java
Labels: ns:div-cfs-pr-90

#93 set up divorce cfs security scan
  Jenkinsfile_nightly
  functional-output/.gitkeep
  security.sh
Labels: ns:div-cfs-pr-93

#89 DIV-4018 suppressed dependencies update
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:div-cfs-pr-89

#98 Revert "DIV-4275 Added mapping for CCD collection format in previous reasons for divorce"
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/YesNoAnswer.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/MappingCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/StringCollectionCCDFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/StringCollectionDivorceFormatMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/YesNoAnswerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/AmendPetitionSubmissionUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addressabroadcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/amend-petition-case.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/amend-petition-ccd-submitted.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/amend-petition-session-submit.json
Labels: ns:div-cfs-pr-98

#95 DIV-4267 Add respDefendsDivorce
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
Labels: ns:div-cfs-pr-95

#100 Revert "DIV-4267 Add respDefendsDivorce"
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
Labels: ns:div-cfs-pr-100

#103 fix-vulnerabilities
  build.gradle
Labels: ns:div-cfs-pr-103

#94 Set TimeLivedTogetherDetails based on reason for Divorce
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnCaseMapperUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
Labels: ns:div-cfs-pr-94

#102 DIV-4303 - added new desertion fields (time together/lived apart since)
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/YesNoAnswer.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/MappingCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/PaymentContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/DesertionStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/ReasonForDivorceContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/ReasonForDivorceStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationFiveYearsStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationStrategy.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationTwoYearsStrategy.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/YesNoAnswerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/TransformToCCDFormatITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/DesertionStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/ReasonForDivorceContextUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationFiveYearsStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationStrategyUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/reasonfordivorce/SeparationTwoYearsStrategyUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasondesertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
Labels: ns:div-cfs-pr-102

#106 DIV-4105 only map answers if they exist.
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/corespondent/CoRespondentAnswers.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/CoRespondentAnswersToCCDMapperTest.java
  src/test/resources/fixtures/model/ccd/co-respondent/co-respondent-answers-incomplete.json
  src/test/resources/fixtures/model/ccd/co-respondent/co-respondent-answers.json
  src/test/resources/fixtures/model/divorce/co-respondent/co-respondent-answers-incomplete.json
  src/test/resources/fixtures/model/divorce/co-respondent/co-respondent-answers.json
Labels: ns:div-cfs-pr-106

#105 DIV-4329: Map previous link from textField to new CCD CaseLink type object
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/amend-petition-case.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/amend-petition-divorce.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/amend-petition-ccd-submitted.json
Labels: ns:div-cfs-pr-105
