Repository hmcts/div-case-data-formatter, pull requests merged in 2019-01, with the labels that each got.

#65 Add DocumentsUploadedDN Mapping from Dn Session to CCD Data
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-65

#57 DIV-3660-New fields
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/reasonseparation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
Labels: ns:div-cfs-pr-57

#64 DIV-3840 - renamed RespDefendsDivorce to RespWillDefendDivorce
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-64

#59 Change ExistingPayment update logic to replace existing payments only
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/payment/PaymentCollection.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/ExistingPaymentReferenceStrategy.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/ExistingPaymentReferenceStrategyUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
Labels: ns:div-cfs-pr-59

#68 DIV-3855
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-68

#56 Add Respondent Confidential Settings
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/empty-respondent-home-addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nulladdressfields.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nullfieldscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/payment.json
Labels: ns:div-cfs-pr-56

#69 Exclude code duplication check for the Mapper classes
  build.gradle
Labels: ns:div-cfs-pr-69

#72 Revert "Add Respondent Confidential Settings (#56)"
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/additionalpayment.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/paymentcase.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/additionalpayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/d8document.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/empty-respondent-home-addresscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/hownamechanged.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdiction612.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/jurisdictionall.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nulladdressfields.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/nullfieldscase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/overwritepayment.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentcase.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/paymentidonly.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonadultery.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasondesertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonseparation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/reasonunreasonablebehaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/samesex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/payment.json
Labels: ns:div-cfs-pr-72

#75 DIV-3885 Added timeout to healthcheck
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/config/HttpConnectionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/IdamApiHealthCheck.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/HealthCheckITest.java
Labels: ns:div-cfs-pr-75

#80 DIV-3814 - removed dependency check suppression for CVE-2018-8088
  dependency-check-suppressions.xml
Labels: ns:div-cfs-pr-80

#83 Force jackson databind to 2.9.8 for security
  build.gradle
Labels: ns:div-cfs-pr-83

#81 Update divorce court email address
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/additional-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/addresses.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/d8-document.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/how-name-changed.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-6-12.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/jurisdiction-all.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/overwrite-payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment-id-only.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/payment.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-adultery.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-desertion.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-separation.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/reason-unreasonable-behaviour.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/same-sex.json
  src/main/resources/application.yml
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/additional-payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-abroad.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-derived-not-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/help-fees-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/how-name-changed.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-6-12.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/jurisdiction-all.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/marriage-date-null.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/payment.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-adultery.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-desertion.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-separation.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/reason-unreasonable-behaviour.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/same-sex.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
Labels: ns:div-cfs-pr-81
