Repository hmcts/div-case-data-formatter, pull requests merged in 2019-10, with the labels that each got.

#181 Add DN Rejection Fields for CCD to Divorce Mapping
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnRefusalCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DecreeNisiClarificationMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnClarificationMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/dn-clarification.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/dn-refusal.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/dn-refusal.json
Labels: ns:div-cfs-pr-181

#182 Added mappings for FE to Previous Refusal Reasons on backend
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnRefusalCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/AmendPetitionSubmittionRejectionUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/amend-petition-ccd-submitted-rejection.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/amend-petition-session-submit-rejection.json
Labels: ns:div-cfs-pr-182

#184 DIV-6016 Added ClarificationDigital field
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnRefusalCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-clarification-existing-data.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-clarification.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-clarification-existing-data.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-clarification.json
Labels: ns:div-cfs-pr-184

#183 enableAksStagingDeployment() added to Jenkisfile_CNP
  Jenkinsfile_CNP
  charts/div-cfs/Chart.yaml
  charts/div-cfs/requirements.yaml
Labels: ns:div-cfs-pr-183
