Repository hmcts/div-case-data-formatter, pull requests merged in 2019-08, with the labels that each got.

#171 DIV-5545 Move solicitor field to AOS
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
Labels: ns:div-cfs-pr-171

#173 fix failed security error
  build.gradle
Labels: ns:div-cfs-pr-173

#172 DIV-5581 - removed all unused IDAM code as it's not required for CFS
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/div-cfs/values.aat.template.yaml
  charts/div-cfs/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatErrorHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ServiceContextConfiguration.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/IdamApiHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/IdamUserService.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/TransformToCCDFormatITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/HealthCheckITest.java
Labels: ns:div-cfs-pr-172

#174 DIV-4853 Add remove document by type
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/RemoveDocumentsITest.java
  src/test/resources/fixtures/model/ccd/removeDocumentsInput.json
  src/test/resources/fixtures/model/ccd/removeDocumentsOutput.json
Labels: ns:div-cfs-pr-174

#170 Added solicitorService method
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/test/resources/fixtures/model/ccd/solicitorCaseDocumentsInput.json
  src/test/resources/fixtures/model/ccd/solicitorCaseDocumentsOutput.json
Labels: ns:div-cfs-pr-170
