Repository hmcts/div-case-data-formatter, pull requests merged in 2020-02, with the labels that each got.

#196 FIX-Address CVE-2020-5398 and upgrade dependencies
  build.gradle
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/HealthCheckITest.java
Labels: ns:divorce, rel:div-cfs-pr-196

#197 RPET-58: Remove the deprecated enableDockerBuild() configuration
  Jenkinsfile_CNP
Labels: ns:divorce, rel:div-cfs-pr-197

#199 fix owasp check style issue
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDaCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/RootControllerTest.java
Labels: ns:divorce, rel:div-cfs-pr-199

#200 Updated readme and license. Code clean up etc
  LICENSE.md
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToCCDFormatTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DivorceToDNCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ResourceLoader.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CollectionMember.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/DefaultHttpEntityFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDivorceFormatMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentsMappingUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnClarificationMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DocumentCollectionCCDFormatMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/strategy/payment/PaymentContextUTest.java
Labels: ns:divorce, rel:div-cfs-pr-200

#201 fix owasp issue
  build.gradle
Labels: ns:divorce, rel:div-cfs-pr-201
