Repository hmcts/div-case-data-formatter, pull requests merged in 2020-11, with the labels that each got.

#231 DIV-5908: Moving the remaining mappers from CFS into the div-common-lib
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DaCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/documentupdate/DocumentUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/documentupdate/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDaCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDocumentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/StringCollectionCCDFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/StringCollectionDivorceFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/CaseFormatterService.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/GetDecreeAbsoluteCaseDataITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDocumentRequestMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/AosCaseToCCDMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/CoRespondentAnswersToCCDMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DecreeAbsoluteToCCDMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnCaseMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnClarificationMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-clarification-existing-data.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-clarification.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/dn.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-behaviour.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-clarification-existing-data.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-clarification.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-desertion.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-null.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn-separation.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/dn.json
  src/test/resources/fixtures/model/divorce/co-respondent/co-respondent-answers-no-cost.json
Labels: ns:divorce, prd:div, rel:div-cfs-pr-231

#232 DIV-6180-Bumping-up-version-to-v1.2.1-for process-server-service
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cfs-pr-232

#233 Upgrading div-common-lib to latest version
  build.gradle
  src/integrationTest/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/integrationTest/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
Labels: ns:divorce, prd:div, rel:div-cfs-pr-233
