Repository hmcts/div-case-data-formatter, pull requests merged in 2020-07, with the labels that each got.

#213 Update Tomcat version
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cfs-pr-213

#204 Demo aks
  dependency-check-suppressions.xml
  infrastructure/hmctsdemo.tfvars
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnRefusalCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/corespondent/Costs.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/LanguagePreferenceWelshCaseToDivorceMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/TranslatedFieldsCaseToDivorceMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/LanguagePreferenceCaseToCCDMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/languagepreferencewelsh.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/translatedfields.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/language-preference-welsh.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/translatedfields.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/languagePreferenceWelsh.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/language-preference-welsh.json
Labels: ns:divorce, prd:div, rel:div-cfs-pr-204

#212 PCQ-396: Updated to add PCQ ID fields for respondant and petitioner.
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToAosCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToCCDMapper.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/aos.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/ccd/aos.json
  src/test/resources/fixtures/divorcetoccdmapping/divorce/aos.json
  src/test/resources/fixtures/model/ccd/CoreCaseData.json
  src/test/resources/fixtures/model/ccd/InputCoreCaseDataMap.json
Labels: ns:divorce, prd:div, rel:div-cfs-pr-212
