Repository hmcts/div-case-data-formatter, pull requests merged in 2020-10, with the labels that each got.

#221 Upgrade azure rm
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:divorce, prd:div, rel:div-cfs-pr-221

#223 DIV-6496: Using classes moved to common lib
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DnRefusalCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/Document.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DivorceCaseToDnClarificationMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionCCDFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDivorceFormatMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDocumentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CollectionMemberUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/DocumentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDocumentRequestMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentCollectionDivorceFormatMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DivorceCaseToDnClarificationMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/divorcetoccdformat/DocumentCollectionCCDFormatMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-cfs-pr-223

#224 DIV-6496: Adding general orders to d8 attribute in Divorce session fo…
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/domain/model/usersession/DivorceSession.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/CCDCaseToDivorceMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/DocumentCollectionDivorceFormatMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/functionaltest/TransformToDivorceFormatITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/helper/DocumentsTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/AddressesCaseToDivorceMapperUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/D8DocumentsUnificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/mapper/ccdtodivorceformat/DocumentCollectionDivorceFormatMapperUTest.java
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/addresscase.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/generated-documents.json
  src/test/resources/fixtures/ccdtodivorcemapping/ccd/service-application-documents-case.json
  src/test/resources/fixtures/ccdtodivorcemapping/divorce/addresses.json
Labels: ns:divorce, prd:div, rel:div-cfs-pr-224

#222 RPET-520: bump owasp dependency
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cfs-pr-222

#228 DIV-5908: Using the div-commons-lib classes to convert DivorceSession…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/config/HttpConnectionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/controller/CaseFormatterController.java
  src/main/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/caseformatterservice/service/impl/CaseFormatterServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-cfs-pr-228

#230 upgrading tomcat to latest version and suppressing failures
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cfs-pr-230
